## Pseudocode Stammdaten

definition von
Vorname
Nachname
... (Stammdaten: siehe Daten download)

### Was brauchen wir um diese Dinge anzulegen/zu coden?

- Kundenliste (gefiltert z.B. nach PLZ)
- Suche nach z.B. einzelenes Mitglied
- neu anlegen von Datensätzen (Mitgliedern)
- ändern bestehender Datensätze
- löschen bestehener Datensätze

In [2]:
import pandas as pd

stammdaten = pd.read_json("data/customers_database.json")
print(stammdaten.head(2))
type(stammdaten)

   id first_name  last_name                    email  gender  country  \
0   1   Melicent       Stud   mstud0@tripadvisor.com  Female  Albania
1   2   Karolina  Francesch  kfrancesch1@harvard.edu  Female    China

          city  status       currency       credit_card    address
0     Novoselë     NaN            Lek  3544699829301361    Room 85
1  Gangshangji     NaN  Yuan Renminbi  5893103733524129  4th Floor

pandas.core.frame.DataFrame

In [37]:
# wir wollen alle suchen deren first_name mit N anfängt

first_name_n = stammdaten[stammdaten["first_name"].str.startswith("N")]     
# nach =
# Quelle ist stammdaten
# [stammdaten[]] - es wird auf das element "first_name" zugegriffen
# .str - das zum Objekt string geändert wird und
# wenden .startswith suchfunktion an
# mit dem Argument "N"
first_name_n

,id,first_name,last_name,email,gender,country,city,status,currency,credit_card,address
12,13,Noland,Ambrosoni,nambrosonic@infoseek.co.jp,Bigender,China,Dasuhe,NaN,Yuan Renminbi,6709881752604621824,PO Box 69369
49,50,Norina,Rake,nrake1d@wikia.com,Female,Philippines,Matlang,NaN,Peso,3588326548584559,Room 101
85,86,Norrie,Bacop,nbacop2d@github.io,Male,Russia,Sterlibashevo,NaN,Ruble,36927339898100,PO Box 95258
88,89,Nataline,Joesbury,njoesbury2g@fotki.com,Female,Peru,Paccho,NaN,Sol,3535576743302710,Apt 1107
90,91,Nataniel,Picken,npicken2i@hc360.com,Male,China,Niujiang,NaN,Yuan Renminbi,633464555027004544,PO Box 52340
92,93,Normie,Lethby,nlethby2k@sciencedirect.com,Male,Guyana,Skeldon,NaN,Dollar,3530745039525947,PO Box 89127
93,94,Nola,Gulleford,ngulleford2l@fastcompany.com,Female,China,Nanguzhuang,NaN,Yuan Renminbi,501882323874003136,Apt 1524
151,152,Nikkie,Jancey,njancey47@accuweather.com,Female,Indonesia,Oenopu,NaN,Rupiah,3542699879858585,PO Box 84208
154,155,Nico,Housley,nhousley4a@xing.com,Male,Israel,Dimona,NaN,Shekel,676324972178960000,PO Box 78331
155,156,Neddy,Wybron,nwybron4b@nytimes.com,Male,Japan,Omigawa,NaN,Yen,6706579097958950,Apt 1173
170,171,Nollie,Arangy,narangy4q@cbsnews.com,Female,China,Pucheng,NaN,Yuan Renminbi,5038268852067204,Room 1001
223,224,Nolly,Buttrey,nbuttrey67@vimeo.com,Male,France,Marseille,NaN,Euro,3575324042270713,Apt 219
229,230,Nealy,Blakelock,nblakelock6d@usgs.gov,Male,France,Meaux,NaN,Euro,670917716501372288,PO Box 32091
261,262,Natalee,Matussow,nmatussow79@opensource.org,Female,Czech Republic,Mirošov,NaN,Koruna,3539582874230072,Room 1197
314,315,Nickola,Belbin,nbelbin8q@vk.com,Male,Colombia,La Unión,NaN,Peso,5144948489044251,Room 842
324,325,Nancee,Workes,nworkes90@deviantart.com,Female,Lithuania,Virbalis,NaN,Litas,3560146297459247,Apt 1091
333,334,Niel,Domange,ndomange99@dyndns.org,Male,Nigeria,Ijebu-Ife,NaN,Naira,6759332251635361792,PO Box 71215
339,340,Ninetta,Pyrke,npyrke9f@livejournal.com,Female,South Africa,Wartburg,NaN,Rand,3551559430231532,Suite 85
471,472,Nero,M'Quharg,nmquhargd3@illinois.edu,Male,Brazil,Irecê,NaN,Real,3586490444134307,8th Floor
501,502,Ninnetta,Tant,ntantdx@theguardian.com,Bigender,Philippines,Nailong,NaN,Peso,5480624471129184,17th Floor
506,507,Nicol,Dye,ndyee2@icq.com,Bigender,China,Qutun,NaN,Yuan Renminbi,6771354962876665,9th Floor
534,535,Nissa,Petroff,npetroffeu@slideshare.net,Female,Poland,Wojciechów,NaN,Zloty,5048378504285076,Apt 863
541,542,Noam,Koppens,nkoppensf1@cbsnews.com,Male,Nigeria,Ogoja,NaN,Naira,5602231321867196,6th Floor
553,554,Nola,Rodgman,nrodgmanfd@newyorker.com,Female,Argentina,San Juan,NaN,Peso,3564238744770205,Suite 59
596,597,Nolly,Rome,nromegk@opensource.org,Male,China,Pengfang,NaN,Yuan Renminbi,3564785763024617,PO Box 44400
598,599,Niki,Matthaus,nmatthausgm@redcross.org,Male,Philippines,Bitin,NaN,Peso,30022909204289,7th Floor
695,696,Nadiya,Gaffer,ngafferjb@nyu.edu,Female,China,Shazi,NaN,Yuan Renminbi,3558234634569870,Room 513
713,714,Noland,Tschirasche,ntschiraschejt@usgs.gov,Male,Dominican Republic,Mella,NaN,Peso,201527596945963,PO Box 60746
756,757,Nadean,Tilbey,ntilbeyl0@businessinsider.com,Female,Albania,Kryevidh,NaN,Lek,5641828244191386624,8th Floor
768,769,Nelie,Proschke,nproschkelc@sakura.ne.jp,Agender,Brazil,Acaraú,NaN,Real,5007662609491880,PO Box 7731
782,783,Nickolai,Coombes,ncoombeslq@slashdot.org,Male,China,Yuhe,NaN,Yuan Renminbi,676716256857860096,PO Box 7561
791,792,Nadine,Erni,nernilz@clickbank.net,Female,China,Nieying,NaN,Yuan Renminbi,201879984836118,Suite 57
824,825,Norine,Pharro,npharromw@timesonline.co.uk,Female,Tunisia,La Mohammedia,NaN,Dinar,3574447629725527,Apt 252
825,826,Nial,Dunbar,ndunbarmx@nps.gov,Male,Canada,Port Colborne,NaN,Dollar,5048370479313801,Apt 687
833,834,Nealy,Sallan,nsallann5@fastcompany.com,Bigender,Pakistan,Doāba,NaN,Rupee,5602241369538476,Room 1675
872,873,Nevins,Giovanardi,ngiovanardio8@globo.com,Male,Portugal,Casais de Vera Cruz,NaN,Euro,30006598055565,Room 565
942,943,Nomi,Close,ncloseq6@wordpress.com,Female,Uganda,Soroti,NaN,Shilling,4913985632878054,PO Box 61326
962,963,Neddy,Poyzer,npoyzerqq@flavors.me,Male,Brazil,Novo Horizonte,NaN,Real,3532551566226018,8th Floor

In [9]:
# erstellen einer generischen Suchabfrage für Text

def search_str(key, value):
    return stammdaten[stammdaten[key].str.startswith(value)]

result_str = search_str("country", "C")
print(result_str)

      id first_name  last_name                      email   gender  \
1      2   Karolina  Francesch    kfrancesch1@harvard.edu   Female
3      4     Aubrey     Grinin       agrinin3@godaddy.com   Female
4      5      Alair     Vittle         avittle4@wiley.com     Male
7      8     Sloane    Dittson    sdittson7@discovery.com     Male
9     10    Hazlett   Gwinnell        hgwinnell9@1688.com     Male
..   ...        ...        ...                        ...      ...
973  974     Putnam   Whillock  pwhillockr1@google.com.hk     Male
975  976      Symon      Meneo      smeneor3@google.co.jp     Male
978  979       Caty      Gorry      cgorryr6@sakura.ne.jp   Female
980  981   Elsworth   Achromov  eachromovr8@aboutads.info  Agender
995  996    Enrique    Chettle       echettlern@blogs.com     Male

            country         city  status       currency       credit_card  \
1             China  Gangshangji     NaN  Yuan Renminbi  5893103733524129
3             China      Nanlang     NaN  Yuan Renminbi  3529763645409482
4             China      Xinfeng     NaN  Yuan Renminbi  3579191844450140
7             China    Daqin Tal     NaN  Yuan Renminbi  5100146750633447
9             China      Xiaocun     NaN  Yuan Renminbi  4508858757430442
..              ...          ...     ...            ...               ...
973  Czech Republic  Ratíškovice     NaN         Koruna  5100137984265320
975           China       Liandu     NaN  Yuan Renminbi  3536981728345875
978            Chad          Laï     NaN          Franc  3554096025372873
980           China     Wangjing     NaN  Yuan Renminbi  3528866813065373
995           China     Chang’an     NaN  Yuan Renminbi  3545305735382912

          address
1       4th Floor
3      10th Floor
4    PO Box 67244
7        Apt 1876
9        Apt 1883
..            ...
973  PO Box 20443
975     Room 1450
978      Apt 1696
980      Suite 54
995      Room 361

[231 rows x 11 columns]

In [ ]:
# erstellen einer generischen Suchabfrage für Zahlen (int und float)

def search_number(key, value):
    return stammdaten[stammdaten[key]>value]

result_number = search_number("id", value=459)
print(result_number)

       id first_name      last_name                             email  \
459   460      Julee         Straun               jstrauncr@wired.com
460   461      Maure        Wythill         mwythillcs@indiatimes.com
461   462      Sherm      Deverille         sdeverillect@addtoany.com
462   463   Patrizia       Loughney             ploughneycu@webmd.com
463   464       Enos     Scrimshire          escrimshirecv@sbwire.com
..    ...        ...            ...                               ...
995   996    Enrique        Chettle              echettlern@blogs.com
996   997       Tyne  Schwandermann  tschwandermannro@theguardian.com
997   998        Lib        O'Brien                lobrienrp@lulu.com
998   999    Lorenzo         Hamlin              lhamlinrq@unesco.org
999  1000   Jessalyn        Stearns            jstearnsrr@histats.com

          gender         country                    city  status  \
459  Genderfluid          Mexico         Emiliano Zapata     NaN
460       Female      Kazakhstan                    Abay     NaN
461         Male            Peru                Chiclayo     NaN
462       Female        Slovenia                Portorož     NaN
463         Male  Czech Republic            Dřevohostice     NaN
..           ...             ...                     ...     ...
995         Male           China                Chang’an     NaN
996       Female       Guatemala                  Cuilco     NaN
997       Female       Indonesia         Banjar Penyalin     NaN
998         Male       Indonesia                 Golacir     NaN
999   Non-binary          Brazil  São Gonçalo do Sapucaí     NaN

          currency          credit_card       address
459           Peso     4405019482637215      Apt 1214
460          Tenge     3534790840126424    10th Floor
461            Sol   560223709471189760  PO Box 80663
462           Euro     3579472487127108     6th Floor
463         Koruna      374622504686535     7th Floor
..             ...                  ...           ...
995  Yuan Renminbi     3545305735382912      Room 361
996        Quetzal     5002353422683805      Suite 24
997         Rupiah     3576194543594492     Room 1572
998         Rupiah  4905837308116272128     9th Floor
999           Real    67067900559459224      Suite 95

[541 rows x 11 columns]

In [26]:
# erstellen einer von bis Suche

# die gesamte Bedingung <=value jeweils in klammern fragt einen True ab

def search_von_bis(key, von, bis):
    return stammdaten[(stammdaten[key] >= von) & (stammdaten[key] <= bis)]   

von_bis = search_von_bis("id", 344, 545)
von_bis

,id,first_name,last_name,email,gender,country,city,status,currency,credit_card,address
343,344,Aguistin,Thoms,athoms9j@auda.org.au,Male,Yemen,Al Qurḩ,NaN,Rial,30203902096761,Apt 213
344,345,Sinclare,Count,scount9k@geocities.jp,Male,Peru,Mangas,NaN,Sol,3567962364517995,Room 185
345,346,Glenn,Pashley,gpashley9l@tinypic.com,Female,El Salvador,Usulután,NaN,Dollar,5100172706505703,Room 559
346,347,Mendel,Myrkus,mmyrkus9m@businessinsider.com,Male,Philippines,Bankaw,NaN,Peso,3539581206167853,Room 290
347,348,Marco,Grishenkov,mgrishenkov9n@nature.com,Male,Russia,Yegor’yevsk,NaN,Ruble,3542042593834337,Room 1643
...,...,...,...,...,...,...,...,...,...,...,...
540,541,Dehlia,Elders,deldersf0@mlb.com,Genderqueer,Sweden,Linköping,NaN,Krona,3588502373818623,Room 106
541,542,Noam,Koppens,nkoppensf1@cbsnews.com,Male,Nigeria,Ogoja,NaN,Naira,5602231321867196,6th Floor
542,543,Dalston,Audiss,daudissf2@senate.gov,Male,Russia,Novominskaya,NaN,Ruble,3546576209316094,11th Floor
543,544,Benton,Tant,btantf3@mapy.cz,Male,Indonesia,Taman,NaN,Rupiah,676374199893081600,PO Box 33590
544,545,Max,Yetton,myettonf4@ucoz.com,Male,United Kingdom,London,NaN,Pound,5602219940412585,Room 1823

In [ ]:
# Erstellen einer Klasse für die Suche um die Weiterverwendung zu vereinfachen

# self ist eine etablierter Begriff in python, der ein externes Objekt welches einer neuen Klasse zugeführt wird,
# zu einer Instanz/Objekt in der Klasse macht.

class CustomerFinder:
    def search_str(self, key, value):
        return stammdaten[stammdaten[key].str.startswith(value)]

    def search_number(self, key, value):
        return stammdaten[stammdaten[key]>value]
    
    def search_von_bis(self, key, von, bis):
        return stammdaten[(stammdaten[key] >= von) & (stammdaten[key] <= bis)]   

finder = CustomerFinder()

result_number = finder.search_number("id", value=995)
result_number

,id,first_name,last_name,email,gender,country,city,status,currency,credit_card,address
994,995,Tomlin,Parlot,tparlotrm@earthlink.net,Male,Indonesia,Bojongsari,NaN,Rupiah,4905738008021551104,11th Floor